.arrow-container {
    position: absolute;
    right: calc(12.5vw - 28px);
    width:60px;
    bottom:calc(10vh + 78px);

  }

  .arrow-element {
    position: absolute;
    right: 0;
    left: 0;
  }