  .arrow-container {
    position: absolute;
    // right: calc(12.5vw - 18px);
    width:56px;
    // bottom:88px;
    max-height: calc(100vh - 88px - 95px);
  }

  .arrow-element  {
    display: flex;
    justify-content: center;
    max-height: 80px;
    min-height: 20px;
  }