<div
  class="arrow-container"
  [ngStyle]="{
    right: direction === 'down' ? 'calc(12.5vw - 18px)' : '45vw',
    bottom: direction === 'down' ? '88px' : '',
    top: direction === 'up' ? 'calc(10vh + 95px)' : ''
  }"
  [@expandCollapse]="isExpanded ? 'expanded' : 'collapsed'"
>
  <div class="arrow-element" *ngIf="direction === 'up'">
    <!-- <ion-icon name="arrow-down-outline"></ion-icon> -->
    <img src="../../assets/icon/arrow-up.png" alt="arrow-up" />
  </div>
  <div id="arrow-text">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <div class="arrow-element" *ngIf="direction === 'down'">
    <!-- <ion-icon name="arrow-down-outline"></ion-icon> -->
    <img src="../../assets/icon/arrow-down.png" alt="arrow-down" />
  </div>
</div>
