.tooltip {
    position: absolute;
    // background: #222;
    color: var(--ion-color-primary);
    font-weight: 600;
    font-stretch:ultra-condensed;
    padding:0 2px;
    border-radius: 4px;
    // font-size: 90%;
    pointer-events: none;
    max-width: 100px;
    min-width: 30px;
    // top: 0;
    // left: 0;
    text-align: justify;

}

// .tooltip:after {
//     content: "";
//     display: inline-block;
//     width: 100%;
// }

// .arrow {
//     position: absolute;
//     background: #333;
//     width: 8px;
//     height: 8px;
//     transform: rotate(45deg);
//   }

// .arrow-test {
//     pointer-events: none;
//     overflow: visible !important;
//   }

//   .arrow-test__path {
//     stroke: var(--ion-color-primary);
//     fill: transparent;
//     // stroke-dasharray: 4 2;
//     stroke-width: 3.5;
//   }

//   .arrow-head {
//     fill: var(--ion-color-primary);
//     stroke: var(--ion-color-primary);
//     stroke-width: 1;
//   }
