<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 2 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #parent2 id="tab2-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<span #target1 id="tab2-span"> Click Me </span>

<!-- <app-arrow-floating-ui
  [id]="'popper3'"
  [targetId]="'tab2-span'"
  [textPlacement]="'top-end'"
  [tabPage]="'tab2'"
  [arrowStart]="'bottom'"
  [arrowEnd]="'top'"
  [mainAxisOffset]="60"
></app-arrow-floating-ui>
<app-arrow-floating-ui
  [id]="'popper4'"
  [targetId]="'trigger-button'"
  [tabPage]="'tab2'"
  [textPlacement]="'top-end'"
  [arrowStart]="'right'"
  [arrowEnd]="'top'"
  [mainAxisOffset]="60"
></app-arrow-floating-ui> -->
