<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollY="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<div #target1 id="test2">Click Me</div>

<app-arrow-floating-ui
  [id]="'popper1'"
  [targetId]="'test2'"
  [textPlacement]="'right-start'"
  [arrowStart]="'left'"
  [arrowEnd]="'bottom'"
  [tabPage]="'tab1'"
  *ngIf="isPlatformReady"
  (arrowCreated)="arrowCreated($event)"
></app-arrow-floating-ui>
<app-arrow-floating-ui
  [id]="'popper2'"
  [targetId]="'trigger-button'"
  [tabPage]="'tab1'"
  [textPlacement]="'top-end'"
  [arrowStart]="'right'"
  [arrowEnd]="'top'"
  *ngIf="isPlatformReady"
  (arrowCreated)="arrowCreated($event)"
></app-arrow-floating-ui>
